.sidenav-container {
  height: 100vh;
  display: flex;
}

.sidenav {
  width: 240px;
  padding: 16px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.nav-link {
  width: 100%;
  justify-content: flex-start;
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.sidenav-content {
  padding: 2rem;
  width: 100%;
}
