// _colors.scss

// Primary color
$color-primary-1: #F4CCC8;
$color-primary-2: #EBA59E;
$color-primary-3: #E27D73;
$color-primary-4: #DA584B;

// Secondary color
$color-secondary-1: #C8E1BC;
$color-secondary-2: #AAD199;
$color-secondary-3: #8DC275;
$color-secondary-4: #70B252;

// Tertiary color
$color-tertiary-1: #F9EED7;
$color-tertiary-2: #F2DAAB;
$color-tertiary-3: #EBC77F;
$color-tertiary-4: #E5B454;

// Neutral color
$color-neutral-1: #FFFFFF;
$color-neutral-2: #94979A;
$color-neutral-3: #393D41;
$color-neutral-4: #2C2F33;
$color-neutral-5: #222528;
