// _typography.scss

@use '@angular/material' as mat;

$my-custom-level: mat.m2-define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$typography: mat.m2-define-typography-config(
  $headline-1: mat.m2-define-typography-level(64px, 88px, 400, $letter-spacing: 1px),
  $headline-2: mat.m2-define-typography-level(56px, 72px, 400, $letter-spacing: 1px),
  $headline-3: mat.m2-define-typography-level(48px, 56px, 400, $letter-spacing: 1px),
  $headline-4: mat.m2-define-typography-level(32px, 48px, 400, $letter-spacing: 1px),
  $headline-5: mat.m2-define-typography-level(24px, 32px, 400, $letter-spacing: 1px)
);

